#clean {
margin-top:-3px;
}

.searchform_top_text{
height:19px;
padding:2px 0 0 0;
}

#social {
height:100%;
}

#socialtop {
margin:0 0 -12px 0;
}

.feattop {
margin:0 0 -12px 0;
}

.featbottom {
margin:-15px 0 0 0;
}

#feat {
padding:5px 10px 7px 10px;
}

.latestpart {
height:100%;
}

.latestvideosb {
clear:both;
margin:0 0 0 0;
}

.sidebar_right ul {
clear:both;
height:100%;
}

.singleshare {
margin:0 0 5px 0;
padding:0;
}